/**
 * Reset some basic elements
 */
body,h1,h2,h3,h4,h5,h6,p,blockquote,pre,hr,dl,dd,ol,ul,figure {
  margin: 0;
  padding: 0;

}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1,h2,h3,h4,h5,h6,p,blockquote,pre,ul,ol,dl,figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;

}
/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;

}
/**
 * Figures
 */
figure > img {
  display: block;

}
figcaption {
  font-size: $small-font-size;

}
/**
 * Lists
 */
ul,
ol {
  margin-left: $spacing-unit;

}
li {
  > ul,
  > ol {
    margin-bottom: 0;
  }

}

/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 15%);

  }
  &:hover {
    color: $text-color;
    text-decoration: underline;
  }

}
/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;

}
code {
  padding: 1px 5px;

}
pre {
  padding: 8px 12px;
  overflow-x: scroll;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }

}

/**
 * Icons
 */
.icon {

  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: $grey-color;
    }
  }
}



// Post
.post-navigation {
    .previous,
    .next {
        position: fixed;
        width: 40px;
        text-shadow-color: $grey-color-light;
        height: 40px;
        top: 50%;
        margin-top: -(40px / 2);
        line-height: 40px;
        text-align: center;
        color: $grey-color-light;
        font-size: 2em;
        &:hover {
            text-decoration: none;
            background: $grey-color-light;
            color: $grey-color-dark;
        }
    }
    .previous {
        left: 0;
        @include radius(0 5px 5px 0);
    }
    .next {
        right: 0;
        width: 40px + 10px; // Accomodate for scroll
        @include radius(5px 0 0 5px);
    }
}
.post {
    margin: 20px 0;
    header {
        position: relative;
        border-top: 1px dashed $dashColor;

        .post-date {
            display: block;
            width: 108px;
            margin: -1px 0 10px -20px;
            padding-left: 10px;
            font-weight: bold;
            line-height: 32px;
            color: $grey-color;
            @include radius(2px);
            @include transition(width margin .3s ease-in);
        }
        .post-tags {
            position: absolute;
            top: 0;
            right: 5px;
            list-style: none;
            li {
                display: inline-block;
                a {
                    display: block;
                    margin: 5px 0 0 0;
                    padding: 5px;
                    background: $dashColor;
                    color: $grey-color;
                    font-size: 13px;
                    line-height: 12px;
                    @include radius(8px);
                    @include transition(color .3s ease-in);

                    &:hover {
                        color: $accentColor;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    footer {
        @include clearfix();
        margin: 10px 0;

        .comments-link {
            float: right;
            border-right: 0;
            background: $dashColor;
            @include radius(8px);
            padding: 5px 15px;
        }
    }
}

// Disqus styling
.comments {
    margin-top: 20px;
    padding-top: 20px;
    padding-right: 20px;
    border-top: 1px dashed $dashColor;

    #dsq-content {
        margin-right: 24px;
        max-width: 600px;
    }

    h3 {
        font-size: 1.4em;
    }

    a {
        color: $textColor;
    }

    .dsq-textarea-background {
        background: #fff;
        border: 1px dashed $dashColor;
        box-shadow: none;
    }
}

// Tag Cloud
.tag-cloud {
    margin: 20px 0;
    list-style: none;
    display: block;
    li {
        display: inline-block;
        a {
            display: inline-block;
            @include transition(color .3s ease-in);
            &:hover {
                color: $linkHoverColor;
                text-decoration: none;
            }
        }
    }
}
