/* YUI 3.5.0 reset.css (http://developer.yahoo.com/yui/3/cssreset/) - http://cssreset.com */
/*@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500,700);*/

//
// Styles here copied from http://www.mattboldt.com/ credits to Matt!!!
//

.wrap {
  max-width: 900px;
  margin: auto;
  padding: 0 20px; }

.nav {
  /* overflow: hidden; */ }

.nav li {
  display: inline-block;
  margin-left: -0.32em;
  /*float: left;*/ }

@media screen and (max-width: 550px) {
  p {
    line-height: 1.6em; } }
/* retina swapping code */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* Retina-specific stuff here */ }

.header {
  width: 100%;
  background: url(/assets/img/2.jpg) top center no-repeat fixed;
  background-color: #222933;
  text-align: center;
  padding-bottom: 20px;
  background-size: 100%; }
  @media screen and (max-width: 1300px) {
    .header {
      background-size: auto; } }

.head-text {
  padding: 80px 0 0 0;
  min-height: 215px;
  color: #fff;
  font-size: 2em;
  text-shadow: #000 0px 2px 4px;
  text-align: center; }

.tagline {
  margin: 20px 0 0;
  font-size: 2em;
  font-weight: 600;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out; }

.sub-tagline {
  margin: 0;
  font-size: 1em;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out; }

.lift-text .tagline {
  margin: 0; }
.lift-text .sub-tagline {
  opacity: 1; }

.badge {
  display: block;
  position: relative;
  width: 100px;
  height: 100px;
  margin: -40px auto 20px;
  padding: 0;
  border-radius: 100%;
  border: #3a4450 4px solid;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 4px;
  overflow: hidden;
  z-index: 9999; }
  .badge img {
    display: block;
    margin: auto;
    border: 0;
    border-radius: 100%;
    overflow: hidden; }

.module-badge {
  margin: auto; }

.typed-cursor {
  font-weight: 100;
  padding: 0 2px;
  -webkit-animation: blink 1s infinite;
  -moz-animation: blink 1s infinite;
  -ms-animation: blink 1s infinite;
  -o-animation: blink 1s infinite;
  animation: blink 1s infinite; }

@media screen and (max-width: 800px) {
  .head-text {
    padding: 50px 0 0;
    min-height: 180px;
    font-size: 1.75em; } }
@media screen and (max-width: 600px) {
  .head-text {
    padding: 30px 0 0;
    min-height: 150px;
    font-size: 1.5em; } }
@media screen and (max-width: 550px) {
  .head-text {
    padding: 20px 0 0;
    font-size: 1em;
    min-height: 110px;
    margin: 0 -100px; } }
@-webkit-keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-moz-keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-ms-keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-o-keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }
.nav {
  list-style: none;
  margin: 40px auto;
  text-align: center; }
  .nav li {
    display: inline-block;
    margin: 10px 15px; }
  .nav .label {
    padding: 0 0 0 5px; }

.main-nav {
  list-style: none;
  display: block;
  margin: 0;
  text-align: center; }
  .main-nav li {
    display: inline-block;
    margin: 5px 15px;
    vertical-align: top; }
  .main-nav a {
    display: block;
    width: 95px;
    padding: 15px 0;
    color: #fff;
    font-size: 2.25em;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
    .main-nav a:hover {
      color: #333;
      background: #fff; }
  .main-nav .label {
    display: block;
    clear: both;
    font-size: 0.5em; }

.divider {
  display: block;
  margin: 5px auto;
  width: 50%;
  height: 1px;
  border-top: rgba(0, 0, 0, 0.1) 1px solid;
  border-bottom: rgba(255, 255, 255, 0.2) 1px solid; }

.sub-nav {
  margin: 0 0 30px;
  font-size: 0.6em; }
  .sub-nav a {
    width: 60px;
    padding: 10px 0; }

.inline-nav {
  display: inline-block;
  vertical-align: top; }

@media screen and (max-width: 800px) {
  .main-nav {
    font-size: 0.8em; }
    .main-nav a {
      width: 80px; }

  .sub-nav {
    font-size: 0.6em; }
    .sub-nav a {
      width: 60px; } }
@media screen and (max-width: 650px) {
  .divider {
    width: 60%; }

  .main-nav li {
    margin: 5px 10px; } }
@media screen and (max-width: 550px) {
  .divider {
    width: 50%; }

  .main-nav {
    font-size: 0.6em; }
    .main-nav li {
      margin: 5px 5px; }
    .main-nav a {
      width: 70px; }

  .sub-nav {
    font-size: 0.5em; }
    .sub-nav a {
      width: 50px; } }

@media screen and (max-width: 550px) {
  .page-title {
    margin: 0 0 5px;
    padding: 10px 0;
    font-size: 1.5em; } }

