// Grid
$columnWidth: 40px;
$gutterWidth: 20px;
$columns: 14;
$asideColumns: 3;

// Colors
$selectColor    : #f1f1f1;
$textColor      : #121212;
$headingColor   : #444;
$linkColor      : darken(#3aa9be, 15%);
$linkHoverColor : saturate($linkColor, 20%);
$accentColor    : lighten(#1c525c, 25%);
$dashColor      : #e0e0e0;


.my-face{
	border-radius: 500px;
}




// Cursor for typed.js 

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}