<header class="header">
  <div class="wrap">
  <h1 id='hello'>Hello.</h1>
  <div class="head-text">
      <h1 class="tagline"><span id="typed"></span></h1>
      <h4 class="sub-tagline">Web developer / Occasional Writer</h4>
  </div>
  <ul class="main-nav">
      <li class="_nav-posts">
          <a href="/blog/">
              <span class="icon" aria-hidden="true" data-icon="&#xe602;"></span>
              <span class="label">Blog</span>
          </a>
      </li>
      <li class="_nav-demos">
          <a href="/project/">
              <span class="icon" aria-hidden="true" data-icon="&#xe604;"></span>
              <span class="label">Projects</span>
          </a>
      </li>
      <li class="_nav-me">
          <a href="/about/">
              <span class="icon" aria-hidden="true" data-icon="&#xe603;"></span>
              <span class="label">About</span>
          </a>
      </li>
  </ul>
  <div class="divider"></div>
  <ul class="main-nav sub-nav">
      <li>
          <a href="http://www.twitter.com/vasspilka">
              <span class="icon" aria-hidden="true" data-icon="&#xe608;"></span>
              <span class="label">Twitter</span>
          </a>
      </li>
      <li>
          <a href="http://www.github.com/vasspilka/">
              <span class="icon" aria-hidden="true" data-icon="&#xe609;"></span>
              <span class="label">Github</span>
          </a>
      </li>
      <li>
          <a href="https://plus.google.com/+VasilisSpilka">
              <span class="icon" aria-hidden="true" data-icon="&#xe607;"></span>
              <span class="label">Google +</span>
          </a>
      </li>
      <li>
          <a href="https://www.linkedin.com/pub/vasilis-spilka/79/18a/b16">
              <span class="icon" aria-hidden="true" data-icon="&#xe60a;"></span>
              <span class="label">LinkedIn</span>
          </a>
      </li>
      <li>
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
          <span class="icon" aria-hidden="true" data-icon="&#xe606;"></span>
          <span class="label">RSS Feed</span>
        </a>
      </li>
  </ul>
  </div>
</header>
<canvas id="pixie"></canvas>
