<ul class="tag-cloud">
	<li><a href="/tag/angular" title="Posts tagged with angular" style="font-size: 2.0em; line-height:2.0em">angular</a></li>
	<li><a href="/tag/js" title="Posts tagged with js" style="font-size: 2.0em; line-height:2.0em">js</a></li>
	<li><a href="/tag/new" title="Posts tagged with new" style="font-size: 1.5em; line-height:1.5em">new</a></li>
	<li><a href="/tag/play" title="Posts tagged with play" style="font-size: 1.5em; line-height:1.5em">play</a></li>
	<li><a href="/tag/tag" title="Posts tagged with tag" style="font-size: 1.5em; line-height:1.5em">tag</a></li>
	<li><a href="/tag/yay" title="Posts tagged with yay" style="font-size: 1.5em; line-height:1.5em">yay</a></li>
</ul>
