<script>
    $(function(){

        $("#typed").typed({
            strings: ["Hello!^300","I am Billy Spilka"],
            typeSpeed: 35,
            backDelay: 500,
            loop: false,
            // defaults to false for infinite loop
            loopCount: false,
            callback: function(){
            lift();
            }
        });

        $(".reset").click(function(){
            $("#typed").typed('reset');
        });

    });

    function lift(){
        $(".head-text").addClass("lift-text");
    }
</script>
