---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Special thanks to Leon Radley (http://leon.radley.se/) and Matt Bolt (http://www.mattboldt.com)

@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900,400italic);
//@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400italic,700italic);
//@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

// Our variables
$code-font-family: "Ubuntu Mono";

$spacing-unit: 30px;

$text-color: #111;
$background-color: #222933;
$brand-color: #2a7ae2;

$grey-color: #666;
$grey-color-light: lighten($grey-color, 30%);
$grey-color-dark: darken($grey-color, 25%);

$on-palm: 600px;
$on-laptop: 820px;

// Grid
$columnWidth: 40px;
$gutterWidth: 20px;
$columns: 14;
$asideColumns: 3;

// Colors
$selectColor: #f1f1f1;
$textColor: #121212;
$headingColor: #444;
$linkColor: darken(#3aa9be, 15%);
$linkHoverColor: saturate($linkColor, 20%);
$accentColor: lighten(#1c525c, 25%);
$dashColor: #e0e0e0;

code {
  font-family: $code-font-family;
}

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// #wrap-0{
//   z-index:-999;
// }

#pixie {
  position: fixed;
  right: 0;
  top: 0;
  display: inline-block;
  z-index: 0;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "bourbon/bourbon", "neat/neat", "base/base", "mixin", "reset", "base",
  "layout", "header", "modules/card", "../fonts/style", "syntax-highlighting",
  "aside", "main", "project", "about", "cv";

#top-image {
  width: 100%;
  position: static;
}

#typed {
  right: 30px;
}
