---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900,400italic);
//@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400italic,700italic);
//@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

// Our variables
$base-font-family: "Source Sans pro", sans-serif,Helvetica, Arial;
$code-font-family: "Ubuntu Mono";
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #666;
$grey-color-light: lighten($grey-color, 30%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;

// Grid
$columnWidth: 40px;
$gutterWidth: 20px;
$columns: 14;
$asideColumns: 3;

// Colors
$selectColor    : #f1f1f1;
$textColor      : #121212;
$headingColor   : #444;
$linkColor      : darken(#3aa9be, 15%);
$linkHoverColor : saturate($linkColor, 20%);
$accentColor    : lighten(#1c525c, 25%);
$dashColor      : #e0e0e0;

code {
    font-family: $code-font-family;
}


// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


// #wrap-0{
//   z-index:-999;
// }


#pixie{
  position:fixed;
  right:0;
  top:0;
  display:inline-block;
  z-index:0;
}
// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixin",
        "reset",
        "base",
        "layout",
        "header",
        "../fonts/style",
        "syntax-highlighting",
        "aside"
;


body {
  font-family: $base-font-family;
  font-size: 100%;
  background-color: #fff;
  text-shadow: #fff 0px 1px 0px; }

#top-image{
    width:100%;
    position:static;
}


// Disqus styling
.comments {
    margin-top: 20px;
    padding-top: 20px;
    padding-right: 20px;
    border-top: 1px dashed $dashColor;

    #dsq-content {
        margin-right: 24px;
        max-width: 600px;
    }

    h3 {
        font-size: 1.4em;
    }

    a {
        color: $textColor;
    }

    .dsq-textarea-background {
        background: #fff;
        border: 1px dashed $dashColor;
        box-shadow: none;
    }
}

// Tag Cloud
.tag-cloud {
    margin: 20px 0;
    list-style: none;
    display: block;
    li {
        display: inline-block;
        a {
            display: inline-block;
            @include transition(color .3s ease-in);
            &:hover {
                color: $linkHoverColor;
                text-decoration: none;
            }
        }
    }
}


.my-face{
    border-radius: 500px;
}


// Cursor for typed.js
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
