---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";


// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;

// Grid
$columnWidth: 40px;
$gutterWidth: 20px;
$columns: 14;
$asideColumns: 3;

// Colors
$selectColor    : #f1f1f1;
$textColor      : #121212;
$headingColor   : #444;
$linkColor      : darken(#3aa9be, 15%);
$linkHoverColor : saturate($linkColor, 20%);
$accentColor    : lighten(#1c525c, 25%);
$dashColor      : #e0e0e0;




// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixin",
        "reset",
        "base",
        "layout",
        "temp",
        "../fonts/style",
        "syntax-highlighting",
        "aside"
;



#top-image{
    width:100%;
    position:static;
}


// Disqus styling
.comments {
    margin-top: 20px;
    padding-top: 20px;
    padding-right: 20px;
    border-top: 1px dashed $dashColor;

    #dsq-content {
        margin-right: 24px;
        max-width: 600px;
    }

    h3 {
        font-size: 1.4em;
    }

    a {
        color: $textColor;
    }

    .dsq-textarea-background {
        background: #fff;
        border: 1px dashed $dashColor;
        box-shadow: none;
    }
}

// Tag Cloud
.tag-cloud {
    margin: 20px 0;
    list-style: none;
    display: block;
    li {
        display: inline-block;
        a {
            display: inline-block;
            @include transition(color .3s ease-in);
            &:hover {
                color: $linkHoverColor;
                text-decoration: none;
            }
        }
    }
}


.my-face{
    border-radius: 500px;
}


// Cursor for typed.js 
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

// Post
.post-navigation {
    .previous,
    .next {
        position: fixed;
        width: 40px;
        height: 40px;
        top: 50%;
        margin-top: -(40px / 2);
        line-height: 40px;
        text-align: center;
        color: #ddd;
        font-size: 2em;
        &:hover {
            text-decoration: none;
            background: #fff url("../img/stripe-bg.png");
            color: $accentColor;
        }
    }
    .previous {
        left: 0;
        @include radius(0 5px 5px 0);
    }
    .next {
        right: 0;
        width: 40px + 10px; // Accomodate for scroll
        @include radius(5px 0 0 5px);
    }
}
.post {
    margin: 20px 0;

    header {
        position: relative;
        border-top: 1px dashed $dashColor;

        .github-fork {
            position: absolute;
            top: 32px;
            right: 0;
            display: inline-block;
            border: 0;
        }

        .post-date {
            display: block;
            width: 108px;
            margin: -1px 0 10px -20px;
            padding-left: 10px;
            background: #fff url("../img/stripe-bg.png") ;
            font-family: JuraBold, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
            font-weight: bold;
            line-height: 32px;
            color: $accentColor;
            @include radius(2px);
            @include transition(width margin .3s ease-in);
        }
        .post-tags {
            position: absolute;
            top: 0;
            right: 5px;
            list-style: none;
            li {
                display: inline-block;
                a {
                    display: block;
                    margin: 5px 0 0 0;
                    padding: 5px;
                    background: #fff;
                    color: #ddd;
                    font-size: 12px;
                    line-height: 12px;
                    @include radius(8px);
                    @include transition(color .3s ease-in);

                    &:hover {
                        color: $accentColor;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .body {
        padding: 0 20px 0 0;
        max-width: 600px;
    }
    footer {
        @include clearfix();
        margin: 10px 0;

        .comments-link {
            float: right;
            border-right: 0;
        }
    }
    &.image-post {
        header {
            border-top: 0;

            .post-image {
                display: block;
                margin: -1px 0 10px 0;
            }
            .post-date {
                margin-top: 0;
                margin-bottom: 0;
                width: auto;
            }
        }
    }
    .actions {
        margin: 10px 0;
    }
}



// Base

.container {
    margin: 0 auto;
    @include gridWidth($columns);
    @include transition(all .3s ease-in);
}

.main {
    @include row();
    @include transition(all .3s ease-in);
}

.content {
    @include gridColumn($columns - $asideColumns, -1px);
    border-right: 1px dashed $dashColor;
    @include transition(all .3s ease-in);
}
.content-wide {
    position: relative;
    @include gridColumn($columns);
    @include transition(all .3s ease-in);
}

.aside {
    @include gridColumn($asideColumns);
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 300px;
}